<tr />
<div class="footer">
	<p>Breno Ragazzo</p>
	<p>Igor Meneses Figueiredo</p>
	<p>Vinicius Mineiro da Silva</p>
	<p>Vinicius Ventura de Andrade</p>
</div>

<style>
	.footer{
		display: flex;
		gap: 30px;
		font-size: 14px;
	}
</style>
	
